.alert {
  position: absolute;
  left: 13.5%;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 24.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
  top: 17%;
}

.alert h3 {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}